.work-content{
    padding: 2rem 1.4rem;
    max-width: 500px;
    min-width: 300px;
}
.dots{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #909090;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.st-line{
    height: 3rem;
    border-left: 1px solid #575757;
    margin: 0 0 0.5rem 0.3rem;
}
.experience{
    margin-left: 20px;
}