.carousel-holder{
    height: 29rem;
}
.slider{
    overflow: hidden;
}
.proj-img-carousel{
    width: 100%;
    height: 100%;
    object-fit: contain;
    width: 0%;
    transition: width 0.3s linear;
}
.activeSlide{
    width: 100%;
}
.Next, .Prev{
    font-size: 70px;
    cursor:pointer;
    user-select: none;
    opacity: 1;
    padding-left: 2rem;
    transition: opacity 0.2s linear;
}
.Prev{
    transform: rotate(180deg);
}
.hideSlide{
    opacity: 0;
}